{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Main Section Start -->
  <div class="main-section">
    {% include 'customers/cover.html' %}
    <div class="page-section account-header buyer-logged-in">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <!-- Load Sidebar -->
            {% include 'includes/cust_sidebar.html' %}
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="user-dashboard loader-holder">
              <div class="user-holder">
                <h5 class="text-center">Overview</h5>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                      <div class="card-header">Total Orders</div>
                      <div class="card-body text-center">
                        <a href="#"><h5 class="card-title">{{ total_orders }}</h5></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                      <div class="card-header">Logged in as {{ user.email }}</div>
                      <div class="card-body text-center">
                        <a href="{% url 'cprofile' %}"><h5 class="card-title"><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit Profile</h5></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4">
                  <div class="row">
                    <div class="element-title has-border right-filters-row">
                      <h5>Recent Orders</h5>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="user-orders-list">
                      {% if orders %}
                        <div class="responsive-table">
                          <ul class="table-generic">
                            <li class="order-heading-titles">
                              <div>Order id</div>
                              <div>Date</div>
                              <div>Name</div>
                              <div>Total Price</div>
                              <div>Status</div>
                              <div>Action</div>
                            </li>
                            {% for order in orders %}
                              <li class="order-heading-titles">
                                <div>
                                  <a href="{% url 'order_details' order %}">{{ order }}</a>
                                </div>
                                <div>{{ order.created_at }}</div>
                                <div>{{ order.name }}</div>
                                <div>$ {{ order.total }}</div>
                                <div>
                                  <span class="order-status" style="background-color: #047a06;">{{ order.status }}</span>
                                </div>
                                <div>
                                  <a class="btn btn-danger" href="{% url 'order_details' order %}">Details</a>
                                </div>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      {% else %}
                        <h5 class="text-center">No orders Found</h5>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Section End -->
  {% include 'includes/alerts.html' %}
{% endblock %}
