{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Main Section Start -->
  <div class="main-section pt-5">
    <div class="page-section">
      <div class="container">
        <div class="row">
          <!-- Cart items -->
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="tabs-holder horizontal">
              <ul class="stickynav-tabs nav nav-tabs">
                <li class="active">
                  <a data-toggle="tab" href="#home"><i class="fa fa-cart-plus text-danger text-color" style="font-size: 22px;"></i>Cart Items</a>
                </li>
              </ul>
              <div class="tab-content">
                <div id="home" class="tab-pane in active">
                  <div class="menu-itam-holder">
                    <div id="menu-item-list-6272" class="menu-itam-list">
                      {% if cart_items %}
                        <ul id="menu-items-available">
                          {% for cart in cart_items %}
                            <li id="cart-{{ cart.id }}">
                              <div class="image-holder">
                                <img src="{{ cart.fooditem.image.url }}" alt="" />
                              </div>
                              <div class="text-holder">
                                <h6>{{ cart.fooditem }}</h6>
                                <span>{{ cart.fooditem.description }}</span>
                                <a href="{% url 'vendor_detail' cart.fooditem.vendor.vendor_slug %}" class="badge badge-warning">{{ cart.fooditem.vendor }}</a>
                              </div>
                              <div class="price-holder">
                                <span class="price">${{ cart.fooditem.price }}</span>
                                <a href="#" class="remove-from-cart" data-id="{{ cart.fooditem.id }}" data-cart="cart-{{ cart.id }}" data-url="{% url 'remove_from_cart' cart.fooditem.id %}" style="margin-right: 18px;"><i class="icon-minus text-color"></i></a>
                                <label id="quantity-{{ cart.fooditem.id }}">0</label>
                                <a href="#" class="add-to-cart" data-id="{{ cart.fooditem.id }}" data-cart="cart-{{ cart.id }}" data-url="{% url 'add_to_cart' cart.fooditem.id %}"><i class="icon-plus4 text-color"></i></a>
                                <a href="#" class="delete-cart-item" data-id="{{ cart.id }}" data-cart="cart-{{ cart.id }}" data-url="{% url 'delete_cart_item' cart.id %}"><i class="icon-delete text-color"></i></a>
                              </div>
                            </li>
                          {% endfor %}
                        </ul>
                      {% else %}
                        <div class="text-center p-5">
                          <h3>Cart is Empty</h3>
                          <h4>Go to <a href="{% url 'marketplace' %}" class="text-warning">Marketplace</a></h4>
                        </div>
                      {% endif %}

                      {% for item in cart_items %}
                        <span class="item-qty d-none" id="quantity-{{ item.fooditem.id }}" data-qty="{{ item.quantity }}">{{ item.quantity }}</span>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- FUNDING SECTION -->

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="tabs-holder horizontal">
              <ul class="stickynav-tabs nav nav-tabs">
                <li class="active">
                  <a data-toggle="tab" href="#home"><i class="fa fa-tag text-danger" style="font-size: 22px;"></i>Your Order</a>
                </li>
              </ul>
              <div class="tab-content">
                <div id="home" class="tab-pane in active">
                  <div class="menu-itam-holder">
                    <div id="menu-item-list-6272" class="menu-itam-list">
                      <ul>
                        <li style="list-style-type: none;">
                          Subtotal
                          <span class="price float-right">
                            <span class="currency">$</span>
                            <span id="subtotal">{{ subtotal }}</span>
                          </span>
                        </li>
                        <li style="list-style-type: none;">
                          Tax
                          <span class="price float-right">
                            <span class="currency">$</span>
                            <span id="tax">{{ tax }}</span>
                          </span>
                        </li>
                      </ul>
                      <li style="list-style-type: none; font-weight: 600;">
                        TOTAL
                        <span class="price float-right">
                          <span class="currency">$</span>
                          <span id="total">{{ total }}</span>
                        </span>
                      </li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Section End -->
{% endblock %}
