{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Main Section Start -->

  <form action="{% url 'place_order' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="main-section pt-5">
      <div class="page-section">
        <div class="container">
          <div class="row">
            <!-- Cart items -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="tabs-holder horizontal">
                <ul class="stickynav-tabs nav nav-tabs">
                  <li class="active">
                    <a data-toggle="tab"><i class="fa fa-cart-plus text-danger text-color" style="font-size: 22px;"></i>Billing Address</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div id="home" class="tab-pane in active">
                    <div class="menu-itam-holder">
                      <div id="menu-item-list-6272" class="menu-itam-list">
                        <!-- Form Start -->

                        <div class="row">
                          <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">First Name : {{ form.first_name }}</div>
                          <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">Last Name : {{ form.last_name }}</div>
                        </div>
                        <div class="row">
                          <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">Phone : {{ form.phone }}</div>
                          <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">Email : {{ form.email }}</div>
                        </div>
                        <div class="row">
                          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">Addrees : {{ form.address }}</div>
                        </div>
                        <div class="row">
                          <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">Country : {{ form.country }}</div>
                          <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">State : {{ form.state }}</div>
                        </div>
                        <div class="row">
                          <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">City : {{ form.city }}</div>
                          <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">Pin Code : {{ form.pin_code }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- FUNDING SECTION -->

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="tabs-holder horizontal">
                <ul class="stickynav-tabs nav nav-tabs">
                  <li class="active">
                    <a data-toggle="tab" href="#home"><i class="fa fa-tag text-danger" style="font-size: 22px;"></i>Your Order</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div id="home" class="tab-pane in active">
                    <div class="menu-itam-holder">
                      <div id="menu-item-list-6272" class="menu-itam-list">
                        <ul id="menu-items-available">
                          {% for cart in cart_items %}
                            <li id="cart-{{ cart.id }}">
                              <div class="image-holder">
                                <img src="{{ cart.fooditem.image.url }}" alt="" />
                              </div>
                              <div class="text-holder">
                                <h6>{{ cart.fooditem }}</h6>
                                <span>{{ cart.fooditem.description }}</span>
                                <a href="{% url 'vendor_detail' cart.fooditem.vendor.vendor_slug %}" class="badge badge-warning">{{ cart.fooditem.vendor }}</a>
                              </div>
                              <div class="price-holder mr-2">
                                QTY : <label id="quantity-{{ cart.fooditem.id }}">0</label>
                                <span class="ml-2 price">${{ cart.fooditem.price }}</span>
                              </div>
                            </li>
                          {% endfor %}
                        </ul>
                        {% for item in cart_items %}
                          <span class="item-qty d-none" id="quantity-{{ item.fooditem.id }}" data-qty="{{ item.quantity }}">{{ item.quantity }}</span>
                        {% endfor %}
                      </div>
                      <div id="menu-item-list-6272" class="menu-itam-list">
                        <ul style="list-style-type: none;">
                          <li>
                            Subtotal
                            <span class="price float-right">
                              <span class="currency">$</span>
                              <span id="subtotal">{{ subtotal }}</span>
                            </span>
                          </li>

                          {% for tax_type, value in tax_dict.items %}
                            <li>
                              {{ tax_type }}{% for percentage, amount in value.items %}
                                <small>{{ percentage }}%</small>
                                <span class="price float-right">
                                  <span class="currency">$</span>
                                  <span id="tax-{{ tax_type }}">{{ amount }}</span>
                                </span>
                              {% endfor %}
                            </li>
                          {% endfor %}

                          <li>
                            Total Tax
                            <span class="price float-right">
                              <span class="currency">$</span>
                              <span id="tax">{{ tax }}</span>
                            </span>
                          </li>
                          <li style="font-weight: 600;">
                            TOTAL
                            <span class="price float-right">
                              <span class="currency">$</span>
                              <span id="total">{{ total }}</span>
                            </span>
                          </li>
                          <h5>Selecet Payment Method</h5>
                          <div class="payment-method">
                            <label>
                              <input type="radio" name="payment_method" value="paypal" />
                              <img src="{% static 'assets/images/PayPal.png' %}" class="w-25" alt="paypal" />
                            </label>
                            <label>
                              <input type="radio" name="payment_method" value="bkash" />
                              <img src="{% static 'assets/images/Bkash-Logo.png' %}" class="w-25" alt="bkash" />
                            </label>
                          </div>
                          <span class="text-danger" id="payment_not_selected"></span>
                          <li>
                            <button type="submit" onclick="return paymethodConfirm();" class="btn btn-danger w-100 p-2 mt-3">PLACE ORDER</button>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Form End -->
  </form>

  <script>
    function paymethodConfirm() {
      var paymethod = $("input[name='payment_method']:checked").val()
      if (!paymethod) {
        $('#payment_not_selected').html('Please select a payment method')
        return false
      }
      var conf = confirm('You have selected ' + paymethod + " as your payment method .\nClick 'OK' to continue.")
      return conf
    }
    $('input[name="payment_method"]').on('change', function () {
      var paymethod = $("input[name='payment_method']:checked").val()
      if (paymethod) {
        $('#payment_not_selected').html('')
        return true
      }
    })
  </script>

  <!-- Main Section End -->
{% endblock %}
